<?php
/**
 * NativeAdApi
 * PHP version 5
 *
 * @category Class
 * @package  CollingMedia\StackAdapt
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * StackAdapt API
 *
 * Use this API to create Native Ads and Campaigns on the StackAdapt Platform Use this API to create Native Ads and Campaigns on the StackAdapt Platform
 *
 * OpenAPI spec version: 2.0.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace CollingMedia\StackAdapt\Api;

use \CollingMedia\StackAdapt\Configuration;
use \CollingMedia\StackAdapt\ApiClient;
use \CollingMedia\StackAdapt\ApiException;
use \CollingMedia\StackAdapt\ObjectSerializer;

/**
 * NativeAdApi Class Doc Comment
 *
 * @category Class
 * @package  CollingMedia\StackAdapt
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class NativeAdApi
{

    /**
     * API Client
     *
     * @var \CollingMedia\StackAdapt\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \CollingMedia\StackAdapt\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\CollingMedia\StackAdapt\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('http://api.stackadapt.com/service/v2');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \CollingMedia\StackAdapt\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \CollingMedia\StackAdapt\ApiClient $apiClient set the API client
     *
     * @return NativeAdApi
     */
    public function setApiClient(\CollingMedia\StackAdapt\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation addNativeAd
     *
     * Create new native ad
     *
     * @param \CollingMedia\StackAdapt\Model\NativeAdRequest $body  (optional)
     * @return \CollingMedia\StackAdapt\Model\NativeAdResponse
     * @throws \CollingMedia\StackAdapt\ApiException on non-2xx response
     */
    public function addNativeAd($body = null)
    {
        list($response) = $this->addNativeAdWithHttpInfo($body);
        return $response;
    }

    /**
     * Operation addNativeAdWithHttpInfo
     *
     * Create new native ad
     *
     * @param \CollingMedia\StackAdapt\Model\NativeAdRequest $body  (optional)
     * @return Array of \CollingMedia\StackAdapt\Model\NativeAdResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \CollingMedia\StackAdapt\ApiException on non-2xx response
     */
    public function addNativeAdWithHttpInfo($body = null)
    {
        // parse inputs
        $resourcePath = "/native_ad";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('api_key');
        if (strlen($apiKey) !== 0) {
            $queryParams['api_key'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Authorization');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CollingMedia\StackAdapt\Model\NativeAdResponse',
                '/native_ad'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\CollingMedia\StackAdapt\Model\NativeAdResponse', $httpHeader, 'native_ad'), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CollingMedia\StackAdapt\Model\NativeAdResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CollingMedia\StackAdapt\Model\ErrorModel', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteNativeAd
     *
     * Delete a native ad
     *
     * @param int $id Id of campaign (required)
     * @return void
     * @throws \CollingMedia\StackAdapt\ApiException on non-2xx response
     */
    public function deleteNativeAd($id)
    {
        list($response) = $this->deleteNativeAdWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation deleteNativeAdWithHttpInfo
     *
     * Delete a native ad
     *
     * @param int $id Id of campaign (required)
     * @return Array of null, HTTP status code, HTTP response headers (array of strings)
     * @throws \CollingMedia\StackAdapt\ApiException on non-2xx response
     */
    public function deleteNativeAdWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling deleteNativeAd');
        }
        // parse inputs
        $resourcePath = "/native_ad/{id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('api_key');
        if (strlen($apiKey) !== 0) {
            $queryParams['api_key'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Authorization');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/native_ad/{id}'
            );

            return array(null, $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CollingMedia\StackAdapt\Model\ErrorModel', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation findNativeAd
     *
     * Find native ad by id
     *
     * @param int $id Id of campaign (required)
     * @return \CollingMedia\StackAdapt\Model\NativeAdResponse
     * @throws \CollingMedia\StackAdapt\ApiException on non-2xx response
     */
    public function findNativeAd($id)
    {
        list($response) = $this->findNativeAdWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation findNativeAdWithHttpInfo
     *
     * Find native ad by id
     *
     * @param int $id Id of campaign (required)
     * @return Array of \CollingMedia\StackAdapt\Model\NativeAdResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \CollingMedia\StackAdapt\ApiException on non-2xx response
     */
    public function findNativeAdWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling findNativeAd');
        }
        // parse inputs
        $resourcePath = "/native_ad/{id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('api_key');
        if (strlen($apiKey) !== 0) {
            $queryParams['api_key'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Authorization');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CollingMedia\StackAdapt\Model\NativeAdResponse',
                '/native_ad/{id}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\CollingMedia\StackAdapt\Model\NativeAdResponse', $httpHeader, 'native_ad'), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CollingMedia\StackAdapt\Model\NativeAdResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CollingMedia\StackAdapt\Model\ErrorModel', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation findNativeAds
     *
     * Returns all native ads
     *
     * @return \CollingMedia\StackAdapt\Model\NativeAdResponse[]
     * @throws \CollingMedia\StackAdapt\ApiException on non-2xx response
     */
    public function findNativeAds()
    {
        list($response) = $this->findNativeAdsWithHttpInfo();
        return $response;
    }

    /**
     * Operation findNativeAdsWithHttpInfo
     *
     * Returns all native ads
     *
     * @return Array of \CollingMedia\StackAdapt\Model\NativeAdResponse[], HTTP status code, HTTP response headers (array of strings)
     * @throws \CollingMedia\StackAdapt\ApiException on non-2xx response
     */
    public function findNativeAdsWithHttpInfo()
    {
        // parse inputs
        $resourcePath = "/native_ads";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('api_key');
        if (strlen($apiKey) !== 0) {
            $queryParams['api_key'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Authorization');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CollingMedia\StackAdapt\Model\NativeAdResponse[]',
                '/native_ads'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\CollingMedia\StackAdapt\Model\NativeAdResponse[]', $httpHeader, 'native_ad'), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CollingMedia\StackAdapt\Model\NativeAdResponse[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CollingMedia\StackAdapt\Model\ErrorModel', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation updateNativeAd
     *
     * Update existing native ad
     *
     * @param int $id Id of campaign (required)
     * @param \CollingMedia\StackAdapt\Model\NativeAdRequest $body  (optional)
     * @return \CollingMedia\StackAdapt\Model\NativeAdResponse
     * @throws \CollingMedia\StackAdapt\ApiException on non-2xx response
     */
    public function updateNativeAd($id, $body = null)
    {
        list($response) = $this->updateNativeAdWithHttpInfo($id, $body);
        return $response;
    }

    /**
     * Operation updateNativeAdWithHttpInfo
     *
     * Update existing native ad
     *
     * @param int $id Id of campaign (required)
     * @param \CollingMedia\StackAdapt\Model\NativeAdRequest $body  (optional)
     * @return Array of \CollingMedia\StackAdapt\Model\NativeAdResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \CollingMedia\StackAdapt\ApiException on non-2xx response
     */
    public function updateNativeAdWithHttpInfo($id, $body = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling updateNativeAd');
        }
        // parse inputs
        $resourcePath = "/native_ad/{id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('api_key');
        if (strlen($apiKey) !== 0) {
            $queryParams['api_key'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-Authorization');
        if (strlen($apiKey) !== 0) {
            $headerParams['X-Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CollingMedia\StackAdapt\Model\NativeAdResponse',
                '/native_ad/{id}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\CollingMedia\StackAdapt\Model\NativeAdResponse', $httpHeader, 'native_ad'), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CollingMedia\StackAdapt\Model\NativeAdResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CollingMedia\StackAdapt\Model\ErrorModel', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

}
